.btn {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 5px 18px 5px 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn .btn-icon {
  margin-left: 16px;
  font-size: 20px;
  pointer-events: none;
}

.primary-btn {
  background: #545454;
  color: #fff;
}

.primary-btn:hover {
  background: #444;
  transform: scale(0.98);
}

.primary-btn:active {
  background: #333;
}
